.WeatherToday {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 120px;
    margin-left:-60px;
    font-size: 48px;
    opacity: 85%;
}
.celsius {
    font-size: 18px;
}

a:hover{
    color: rgb(19, 94, 96);
}

a:visited {
    color: aqua;
}
.separationBar {
    font-size: 20px;
}
.fahrenheit {
    font-size: 18px;
}

.icon {
        position: absolute;
        color: white;
        text-align: right;
        margin-top: 120px;
        margin-left: 360px;
}

.humidity {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 190px;
    margin-left: -135px;
    font-size: 16px;
    opacity: 85%;
}
.wind {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 210px;
    margin-left: -137px;
    font-size: 16px;
    opacity: 85%;
}
.rainProb {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 230px;
    margin-left: -90px;
    font-size: 16px;
    opacity: 85%;
}